<section class="min-h-[70vh] flex flex-col items-center justify-center bg-linear-to-tr from-yellow-900 to-yellow-50 shadow-xl/30 p-4 md:p-8 lg:p-12 text-center">
  <h1 class="text-4xl md:text-5xl lg:text-6xl font-bold text-[#E7DBC4] text-shadow-lg/30">Nine To Fine</h1>
  <p class="text-base md:text-lg lg:text-xl font-light text-[#E7DBC4]/85 text-shadow-lg/20 italic">Get dressed up, no haste, no hustle.</p>
  <%= link_to "Get started", new_user_registration_path, class: "bg-zinc-900 hover:bg-zinc-700 transition text-base md:text-lg lg:text-xl text-[#E7DBC4] py-2 px-5 md:py-3 md:px-6 rounded-md font-semibold mt-8 shadow-lg/30" %>
</section>
